.bz-slider-icon-color{
    background-color: rgba(230, 108, 108, 0.582);
}

.btn-bz-danger{
    background-color: rgb(219, 125, 125);
    color: white;
}
.w-25{
    width: 50% !important;
}
footer{
    background-color: black;
    color: white;
    height: 300px;
}
.footer-container{
    padding-top: 150px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}